@media (min-width: 1200px) {
  .App {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px black solid;
    font-family: Arial; } }

.grid-header {
  line-height: 30px; }

.column {
  border: black solid 1px; }

.header-column {
  font-weight: bold;
  text-align: center;
  background-color: #7C7C7C; }

.right {
  text-align: right; }

.error {
  background-color: red; }

.warning {
  background-color: yellow; }
